{% extends '../../provider_base.html' %}

{% block title %} update specialist {% endblock %}

{% block css_style %}

{% endblock %}
{% block store %}active{% endblock store %}
{% block specialists %}active{% endblock %}
{% block breadcrumbt %}
    <li class="breadcrumb-item "><a class="text-light" href="{% url "provider-main-dashboard" %}">Dashboard</a></li>
    <li class="breadcrumb-item"><a class="text-light" href="{% url "store-specialist-list" %}">specialists</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a class="text-primary" href="{% url "store-specialist-update" specialist.id %}">{{ form.name.value }}</a></li>
{% endblock breadcrumbt %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title text-center text-primary">{{ form.name.value }}</h3>
            <button type="button" rel="tooltip" class="btn btn-danger btn-simple btn-icon btn-sm delete-btn" data-toggle="modal" data-target="#deletespecialistModal{{specialist.id}}">
                <i class="bi bi-x-octagon white-icon"></i>
              </button>

      <form method="post" enctype="multipart/form-data" class="text-right">
        {% csrf_token %}

        <div class="form-group">
          <label for="id_name">الإسم</label>
          {{ form.name }}
          {% if form.name.errors %}
            <div class="text-danger">
              {% for error in form.name.errors %}
                <span>{{ error }}</span><br>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-group">
          <div class="input-group">
            <div class="input-group-append">
              {{ form.image }}
            </div>
            <span class="text1"></span>
          </div>
          <img id="uploaded-image" src="" alt="Uploaded Image" width="100" style="display: none;">

          {% if form.image.errors %}
            <div class="text-danger">
              {% for error in form.image.errors %}
                <span>{{ error }}</span><br>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <div class="form-group">
          <label for="id_description">الهاتف</label>
          {{ form.phone }}
          {% if form.phone.errors %}
            <div class="text-danger">
              {% for error in form.phone.errors %}
                <span>{{ error }}</span><br>
              {% endfor %}
            </div>
          {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">تعديل</button>
      </form>
       <!-- Delete form Modal -->
       <div class="modal fade" id="deletespecialistModal{{specialist.id}}" tabindex="-1" role="dialog" aria-labelledby="deletespecialistModalLabel{{specialist.id}}" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-dark">
            <div class="modal-header">
              <h5 class="modal-title" id="deletespecialistModalLabel{{specialist.id}}">حذف {{specialist.name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>هل أنت متأكد من حذف "{{specialist.name}}"</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
              <a class="btn btn-danger" href="{% url 'store-specialist-delete' specialist.id  %}">حذف</a>
              
            </div>
          </div>  
        </div>
      </div>
      <!-- End Delete specialist Modal -->
    </div>
  </div>
</div>

<script>
  const fileInput = document.getElementById("id_image");
  
  fileInput.updateEventListener("change", function() {

    
    const uploadedImage = document.getElementById("uploaded-image");
    uploadedImage.src = URL.createObjectURL(this.files[0]);
    uploadedImage.style.display = "block";
  });
</script>
{% endblock %}

{% block js_script %}

{% endblock %}