{% extends "basew.html" %}
{% load static %}
 {% block title %}Home{% endblock title %}
 {% block home %}active{% endblock home %}
 {% block content %}
 
 
  
  <!-- ============== Start Hero section ========== -->
  <section class="hero  d-flex align-items-center justify-content-center" id="hero">
    <div id="particles-js"></div>
    <div class="container">
      <div class="row flex-row-reverse align-items-center">
        <div class="col-12 col-lg-5">
          <div class="hero-text text-end">
            <div class="row">
              <div class="col-12 ">
                <h1 class="title col-12 text-end" data-aos="fade-up" data-aos-delay="150">ابنِ النجاح بأحدث<span
                    class="unique-text"> الحلول </span>التكنولوجية
                  نحن هنا لدعم أعمالك </h1>
              </div>
              <div class="col-12 text-end">
                <p class="text-end" data-aos="fade-up" data-aos-delay="200">نقدم خدمات متنوعة تشمل تطوير تطبيقات الويب
                  والهاتف الذكي، تصميم وتحسين مواقع
                  الويب، تطوير البرمجيات والتخصيص، والاستشارات التكنولوجية</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-7 mx-md-auto text-center" data-aos="fade-right" data-aos-delay="100">
          <div class="hero-image">
            <div class="hero-img">
              <img class="img-fluid " alt="hero-img"
                src="{% static "website/images/hero/hero33.jpg" %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ============== End Hero section ========== -->

  <!-- ============== Start About section ========== -->
  <section class="about py-5 mt-5" id="about">
    <div class="container">
      <div class="row flex-row-reverse mt-5 justify-content-center align-items-center">
        <div class="col-12 heading col-lg-6 ">
          <h4 class="pretitle" data-aos="fade-up" data-aos-delay="200">
            من نحن
          </h4>
          <h1 class="title col-12" data-aos="fade-up" data-aos-delay="250">
              مرحبًا بك في موقعنا الإلكتروني
          </h1>
          <p class="col-lg-10 col-12" data-aos="fade-up" data-aos-delay="300">
            نحن شركة طموحة في مجال حلول تكنولوجيا المعلومات، نسعى لتقديم أفضل الحلول
            التكنولوجية المخصصة لدعم نجاح عملك. نجمع بين الإبداع والخبرة لتقديم حلول فريدة تلبي احتياجاتك بشكل فعال
            وفعّال.
          </p>
          <p class="col-lg-10 col-12" data-aos="fade-left" data-aos-delay="325">
            نعمل على مساعدتك في تحقيق أهدافك العملية من خلال استخدام
            التكنولوجيا الحديثة بأفضل الطرق الممكنة.
          </p>
        </div>
        <!-- image -->
        <div class="col-12 col-lg-6 d-flex align-items-center " data-aos="fade-right" data-aos-delay="100">
          <img src="{% static "website/images/about/1.jpg" %}" alt="about-img">
        </div>
      </div>
      <div class="row flex-row-reverse mt-5 py-4 justify-content-center align-items-center g-4">


      </div>


    </div>
  </section>
  <!-- ============== End About section ========== -->

  <!-- ============== Start Why us section ========== -->
  <section class="container why-choose-us py-5">
    <div class="heading">
      <h4 class="pretitle" data-aos="fade-up">
        لماذا تختارنا
      </h4>
      <h1 class="title col-12" data-aos="fade-up" data-aos-delay="100">
        لماذا يختارنا العملاء
      </h1>
      <p class="col-lg-7 col-12" data-aos="fade-up" data-aos-delay="150">
        نسعى لتقديم أفضل الحلول التكنولوجية المخصصة لدعم نجاح عملك. نجمع بين الإبداع والخبرة لتقديم حلول فريدة تلبي
        احتياجاتك بشكل فعال .
      </p>
    </div>
    <div class="row  gy-4 gx-4">
      <div class="col-md-6  col-lg-4 mx-auto" data-aos="fade-right" data-aos-delay="250">
        <div class="box">
          <h2 class="title-2 my-2 ">احدث تقنيات</h2>
          <p>نسعى لتقديم أفضل الحلول التكنولوجية المخصصة لدعم نجاح عملك. نجمع بين الإبداع والخبرة لتقديم حلول فريدة تلبي
            احتياجاتك بشكل فعال
            <br /><br />
          </p>
        </div>
      </div>
      <div class=" col-md-6  col-lg-4 mx-auto " data-aos="fade-up" data-aos-delay="200">
        <div class="box">
          <h2 class="title-2 my-2 ">حلول مبتكرة</h2>
          <p>
              نسعى جاهدين لإيجاد حلول مبتكرة للتحدياتالمستقبلية مثل التحسين المستمر وابتكار العمليات من خلال تحليل البيانات وتطبيق أحدث التقنيات والممارسات العالمية.
              حيث يتم تحديد المجالات التي تحتاج إلى تحسين وتطوير وتنفيذ تغييرات استراتيجية لتحقيق أفضل أداء للعمليات.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mx-auto " data-aos="fade-left" data-aos-delay="250">
        <div class="box">
          <h2 class="title-2 my-2 ">خطط ذكية</h2>
          <p>
              نجاح عملك يعتمد على قدرتك على تحديد وتحقيق الأهداف، لذلك صُممت الأهداف الذكية لتصبح أداة تخلق معايير للمساعدة في تحسين فرص النجاح وتحقيق التقدم المنشود، فالوضوح الذي تمنحه الأهداف الذكية حول ما ترغب في تحقيقه يمكن أن يُحدث الفرق بين النجاح والفشل
              <br />
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- ============== End Why us section ========== -->

  <!-- ============== Start contact section ========== -->
  <section class="container contact py-5" id="contact">
    <div class="heading ">
      <h4 class="pretitle" data-aos="fade-up">
        اتصل بنا
      </h4>
      <h1 class="title col-12" data-aos="fade-up" data-aos-delay="100">
        هل لديك استفسار او مشكلة؟ راسلنا
      </h1>
    </div>
    <div class="row gx-4">
      <div class="col-12 col-lg-6 gy-3">
        <h2 class="title-2" data-aos="fade-right" data-aos-delay="200">
          معلومات التواصل :
        </h2>
        <div class="info d-flex my-4" data-aos="fade-right" data-aos-delay="250">
          <h5><i class="bi bi-envelope-fill mx-4"></i>yasafco@gmail.com</h5>
        </div>
        <div class="info d-flex my-4" data-aos="fade-up" data-aos-delay="300">
          <h5><i class="bi bi-phone-fill mx-4"></i>+96650...</h5>
        </div>
        <!--<div class="info d-flex my-4 " data-aos="fade-up" data-aos-delay="350">
          <h5><i class="bi bi-geo-alt-fill mx-4"></i>A108 Adam Street, New York, NY 535022</h5>
        </div>-->
        <div class="info d-flex my-4 " data-aos="fade-up" data-aos-delay="400">
          <h5><i class="bi bi-instagram mx-4"></i>شركة يسافكو</h5>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <!--Form To have user messages-->
        <form class="main-form" id="contact-us-form" action="contact.php" method="post">
          <div class="col-12">
            <div class="row g-3 mb-1">
              <div class="col-lg-6 col-12" data-aos="fade-right" data-aos-delay="200">
                <input placeholder="الاسم" type="text" id="name" name="name" required class="text-input">
              </div>
              <div class="col-lg-6 col-12" data-aos="fade-left" data-aos-delay="200">
                <input placeholder="الموضوع" type="text" id="subject" name="subject" required class="text-input">
              </div>
            </div>
          </div>
          <div class="col-12" data-aos-delay="250">
            <input placeholder="الايميل" type="email" id="email" name="email" required class="text-input my-2">
          </div>
          <div class="col-12 " data-aos-delay="300">
            <textarea placeholder="الرسالة" class="text-input my-2" rows="7" cols="30" id="message" name="message"
              required></textarea>
          </div>
          <div class="col-12" data-aos-delay="350">
            <button type="submit" value="Submit" class="btn">ارسال</button>
          </div>
        </form>
      </div>
    </div>

  </section>
  <!-- ============== end contact section ========== -->


  {% endblock content %}