{% extends "../../provider_base.html" %}
{% load static %}

{% block title %} Reset Password {% endblock %}

{% block content %}
<style>
    .white-icon {
      color: black;
    }
  </style>
<div class="container d-flex justify-content-center align-items-center text-warning">
  <div class="card mt-4 w-50 content animate__animated animate__fadeInUp">
    <div class="card-body text-right">
      <h3 class="card-title text-center text-primary">إعادة تعيين كلمة المرور</h3>
      <p class="text-danger"> {{ error }}</p>
      <form method="post" action="#" id="reset-password-form">
        {% csrf_token %}
        <div class="mb-3">
          <p class="">سيتم إعادة تعيين كلمة المرور للرقم:</p>
          <p> {{ phone }}</p>
        </div>
        <div class="form-group">
          <label for="password">كلمة المرور</label>
          <div class="input-group">
            <input type="password" name="password" class="form-control" id="password" required>
            <div class="input-group-append">
              <button class="btn btn-light" type="button" id="toggle-password">
                <i class="bi bi-eye white-icon"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password2">تأكيد كلمة المرور</label>
          <div class="input-group">
            <input type="password" class="form-control" id="password2" required>
            <div class="input-group-append">
              <button class="btn btn-light" type="button" id="toggle-password2">
                <i class="bi bi-eye white-icon"></i>
              </button>
            </div>
          </div>
          <p class="text-danger" id="password-error" style="display: none;">كلمة المرور وتأكيد كلمة المرور غير متطابقتين</p>
        </div>
        <button type="submit" class="btn btn-outline-primary" id="submit-btn" disabled>Login</button>
        <a id="next-button" href="{% url "provider-login" %}" class="btn btn-secondary">إلغاء</a>
      </form>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('password2');
    const submitBtn = document.getElementById('submit-btn');
    const passwordErrorMessage = document.getElementById('password-error');
    const togglePasswordBtn = document.getElementById('toggle-password');
    const togglePassword2Btn = document.getElementById('toggle-password2');

    function validatePasswords() {
      const password = passwordInput.value;
      const confirmPassword = confirmPasswordInput.value;

      if (password === confirmPassword) {
        submitBtn.disabled = false;
        passwordErrorMessage.style.display = 'none';
      } else {
        submitBtn.disabled = true;
        passwordErrorMessage.style.display = 'block';
      }
    }

    function togglePasswordVisibility(input, button) {
      if (input.type === 'password') {
        input.type = 'text';
        button.innerHTML = '<i class="bi bi-eye-slash white-icon"></i>';
      } else {
        input.type = 'password';
        button.innerHTML = '<i class="bi bi-eye white-icon"></i>';
      }
    }

    passwordInput.addEventListener('input', validatePasswords);
    confirmPasswordInput.addEventListener('input', validatePasswords);
    togglePasswordBtn.addEventListener('click', () => togglePasswordVisibility(passwordInput, togglePasswordBtn));
    togglePassword2Btn.addEventListener('click', () => togglePasswordVisibility(confirmPasswordInput, togglePassword2Btn));
  });
</script>


{% endblock %}

{% block scripts %}

{% endblock %}